<head>
    <title>Booking History</title>
</head>
{% extends 'base.html' %}

{% block additional_css %}
{% endblock %}

{% block content %}
<br><br><br>
<main>
    <div class="row mx-2 my-4 rounded-2" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(https://res.cloudinary.com/chatgixbot/image/upload/v1725441469/gn5jzqnt14shpk8tckb4.jpg); background-repeat: no-repeat; background-size: cover;">
        <div class="col-md-8 mt-2">
            <section class="how-we-work px-2 rounded-2">
                <div class="d-flex flex-column justify-content-center p-2 h-100">
                    <div class="d-flex align-items-center"><span>Your booking for &nbsp;</span><h1>Jaipur</h1></div>
                    <br>
                    <p>Check the booking history of your bookings Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, odit maiores officiis nisi quis perspiciatis atque veritatis magni eos doloribus id voluptate nobis vel ea, vero necessitatibus fugiat soluta quae.</p>
                    <br>
                    <p>Your booking history will be shown here</p>
                    <a href="/packages" class="text-white">Discover more packages</a>
                </div>
            </section>
        </div>
        <div class="col-md-4 mt-2">
            <br>
            <br>
            <br>
            <div class="card p-3" style="background-color: #00000025; color: white;">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <div>
                        <h5>Booking is</h5>
                        <h4>Confirmed!</h4>
                    </div>
                    <div>
                        <img width="60" height="60" src="https://img.icons8.com/dotty/ffffff/80/checked.png" alt="checked"/>
                    </div>
                </div>
                <p>We will get back to you soon!</p>
                <div class="mt-2 border border-light rounded-2 p-3">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>Check In:</p>
                        <p>26/9/2024</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>Check Out:</p>
                        <p>30/9/2024</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>Guests:</p>
                        <p>5</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <h4>Total Paid:</h4>
                        <h4>₹10000</h4>
                    </div>
                </div>
                <div class="mt-2 border border-light rounded-2 p-3">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>lorem</p>
                        <p>ipsum</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <h4>lorem</h4>
                        <h4>ipsum</h4>
                    </div>
                </div>
            </div>
        <br>
        </div>
    </div>
    <div class="row mx-2 my-4 rounded-2" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(https://vl-prod-static.b-cdn.net/system/images/000/746/268/4aa634e7788f54c28a743380aca22013/x1200gt/2091.jpg?1720197010); background-repeat: no-repeat; background-size: cover;">
        <div class="col-md-8 mt-2">
            <section class="how-we-work px-2 rounded-2">
                <div class="d-flex flex-column justify-content-center p-2 h-100">
                    <div class="d-flex align-items-center"><span style="transform: translateY(5px);">Your booking for &nbsp;</span><h1>Udaipur</h1></div>
                    <br>
                    <p>Check the booking history of your bookings Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, odit maiores officiis nisi quis perspiciatis atque veritatis magni eos doloribus id voluptate nobis vel ea, vero necessitatibus fugiat soluta quae.</p>
                    <br>
                    <p>Your booking history will be shown here</p>
                    <a href="/packages" class="text-white">Discover more packages</a>
                </div>
            </section>
        </div>
        <div class="col-md-4 mt-2">
            <br>
            <br>
            <br>
            <div class="card p-3">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <div>
                        <h5>Booking is</h5>
                        <h4>Confirmed!</h4>
                    </div>
                    <div>
                        <img width="60" height="60" src="https://img.icons8.com/dotty/80/checked.png" alt="checked"/>
                    </div>
                </div>
                <p>We will get back to you soon!</p>
                <div class="mt-2 border border-dark rounded-2 p-3">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>Check In:</p>
                        <p>26/9/2024</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>Check Out:</p>
                        <p>30/9/2024</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>Guests:</p>
                        <p>5</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <h4>Total Paid:</h4>
                        <h4>₹10000</h4>
                    </div>
                </div>
                <div class="mt-2 border border-dark rounded-2 p-3">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p>lorem</p>
                        <p>ipsum</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <h4>lorem</h4>
                        <h4>ipsum</h4>
                    </div>
                </div>
            </div>
        <br>
        </div>
    </div>
</main>
{% endblock %}

{% block additional_js %}
{% endblock %}
