<head>
    <title>TakeMeFar</title>
</head>
{% extends 'base.html' %}

{% load static %}
{% block additional_css %}
    <style>
        .animated-card {
            opacity: 0;
            transform: translateY(50px);
            animation: fadeInUp 0.8s forwards;
            border: none;
        }
        .animated-card .card{
            height: 250px;
        }

        .ticket-card {
            position: relative;
            background-color: #fff;
            border: 0;
            padding: 20px;
            border: none;
            text-align: center;
            overflow: hidden;
        }

        .ticket-card::before,
        .ticket-card::after,
        .ticket-card .cutout-left,
        .ticket-card .cutout-right {
            content: "";
            position: absolute;
            width: 35px; /* Size of the cutout */
            height: 60px; /* Size of the cutout */
            background: #141414; /* Color for the cutouts */
        }

        .ticket-card::before,
        .ticket-card .cutout-left {
            top: 35%;
            border-radius: 0 30px 30px 0;
            left: -20px; /* Position for left side cutouts */
        }

        .ticket-card::after,
        .ticket-card .cutout-right {
            top: 35%;
            border-radius: 30px 0 0 30px;
            right: -20px; /* Position for right side cutouts */
        }

        @keyframes fadeInUp {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
{% endblock %}

{% block content %}
    <main class="main">

        <!-- jaipur -->
        <section class="p-4 section section1 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'rajasthan/Jaipur/sheesh_mahal.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h1 style="font-size: 10vh;">JAIPUR</h1>
                <h3>The Pink City</h3>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Jaipur/" class="mt-1 border-0" style="width: 200px; text-decoration: none; color: white;">Discover</a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- jaisalmer -->
        <section class="p-4 section section2 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'rajasthan/Jaisalmer/jaisalmer_fort.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h1 style="font-size: 10vh;">JAISALMER</h1>
                <h3>The Golden City</h3>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Jaisalmer/" class="mt-1 border-0" style="width: 200px; text-decoration: none; color: white;">Discover</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- jodhpur -->
        <section class="p-4 section section3 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'rajasthan/Jodhpur/blue_city.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h1 style="font-size: 10vh;">JODHPUR</h1>
                <h3>The Blue City</h3>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Jodhpur/" class="mt-1 border-0" style="width: 200px; text-decoration: none; color: white;">Discover</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- about us -->
        <section class="px-2 border-bottom" style="height: 100vh; padding: 5rem 2rem 5rem 2rem; background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(https://res.cloudinary.com/chatgixbot/image/upload/v1725441469/gn5jzqnt14shpk8tckb4.jpg); background-repeat: no-repeat; background-size: cover;">
            <div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
                <h1>we know, we are the best <br> but do you know why??</h1> 
            </div>
        </section>

        <!-- udaipur -->
        <section class="p-4 section section4 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'rajasthan/Udaipur/pratap_gaurav_kendra.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h1 style="font-size: 10vh;">UDAIPUR</h1>
                <h3>The City of Lakes</h3>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Udaipur/" class="mt-1 border-0" style="width: 200px; text-decoration: none; color: white;">Discover</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="px-2 py-4 d-flex flex-column justify-content-center" style="height: 100vh;">
            <div class="p-2 h-100">
                <h2 class="ms-2 text-center">Packages</h2>
                <div class="row mt-3">
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 text-primary rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="border-bottom: 1px dashed blue; height: 50vh; background-image: url('{% static 'rajasthan/Jaipur/amber_fort.webp' %}'); background-size: cover;"></div>
                            <div class="card-content h-100">
                                <br>
                                <h3>Jaipur</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 text-tertiary rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="border-bottom: 1px dashed blue; height: 50vh; background-image: url('https://res.cloudinary.com/dn5oapayl/image/upload/v1688474343/zlr3wmsnvvgutak7pvxt.jpg'); background-size: cover;"></div>
                            <div class="card-content h-100">
                                <br>
                                <h3>Udaipur</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 text-success rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="border-bottom: 1px dashed blue; height: 50vh; background-image: url('https://res.cloudinary.com/dn5oapayl/image/upload/v1688474343/zlr3wmsnvvgutak7pvxt.jpg'); background-size: cover;"></div>
                            <div class="card-content h-100">
                                <br>
                                <h3>Jodhpur</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 text-danger rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="border-bottom: 1px dashed blue; height: 50vh; background-image: url('https://res.cloudinary.com/dn5oapayl/image/upload/v1688474343/zlr3wmsnvvgutak7pvxt.jpg'); background-size: cover;"></div>
                            <div class="card-content h-100">
                                <br>
                                <h3>Jaisalmer</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

{% block additional_js %}
{% endblock %}
