<head>
    <title>TakeMeFar</title>
</head>
{% extends 'base.html' %}

{% load static %}
{% block additional_css %}
    <style>
        .animated-card {
            opacity: 0;
            transform: translateY(50px);
            animation: fadeInUp 0.8s forwards;
            border: none;
        }
        .animated-card .card{
            height: 250px;
        }
        .ticket-card {
            position: relative;
            background-color: #fff;
            border: 0;
            padding: 20px;
            border: none;
            text-align: center;
            overflow: hidden;
            transition: transform 0.5s ease;
        }
        .ticket-card:hover{
            transform: translateY(-10px);
        }
        .ticket-card::before,
        .ticket-card::after,
        .ticket-card .cutout-left,
        .ticket-card .cutout-right {
            content: "";
            position: absolute;
            width: 35px; /* Size of the cutout */
            height: 60px; /* Size of the cutout */
            background: #141414; /* Color for the cutouts */
        }

        .ticket-card::before,
        .ticket-card .cutout-left {
            top: 40%;
            border-radius: 0 30px 30px 0;
            left: -20px; /* Position for left side cutouts */
        }

        .ticket-card::after,
        .ticket-card .cutout-right {
            top: 40%;
            border-radius: 30px 0 0 30px;
            right: -20px; /* Position for right side cutouts */
        }

        @keyframes fadeInUp {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
        .cinzel {
            font-family: "Cinzel", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }
    </style>
        
{% endblock %}

{% block content %}
    <main class="main">

        <!-- jaipur -->
        <section class="p-4 section section1 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'jaipur.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h3 class="cinzel">The Pink City</h3>
                <h1 style="transform: translateY(-15px); font-size: 16vh; font-family:serif;">JAIPUR</h1>
                <br>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Jaipur/" class="mt-1 btn btn-outline-light rounded-5" style="width: 200px; text-decoration: none;">Discover</a>
                    </div>
                </div>
            </div>
        </section>
        
          <!-- udaipur -->
          <section class="p-4 section section4 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'udaipur.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h3 class="cinzel">The City of Lakes</h3>
                <h1 style="transform: translateY(-15px); font-size: 16vh; font-family:serif;">Udaipur</h1>
                <br>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Udaipur/" class="mt-1 btn btn-outline-light rounded-5" style="width: 200px; text-decoration: none;">Discover</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- jodhpur -->
        <section class="p-4 section section3 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'jodhpur.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h3 class="cinzel">The Blue City</h3>
                <h1 style="transform: translateY(-15px); font-size: 16vh; font-family:serif;">Jodhpur</h1>
                <br>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Jodhpur/" class="mt-1 btn btn-outline-light rounded-5" style="width: 200px; text-decoration: none;">Discover</a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- about us -->
        <section class="px-2 border-bottom" style="height: 100vh; padding: 5rem 2rem 5rem 2rem; background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%), url(https://res.cloudinary.com/chatgixbot/image/upload/v1725441469/gn5jzqnt14shpk8tckb4.jpg); background-repeat: no-repeat; background-size: cover;">
            <div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
                <h1 style="font-size: 7.5vh;" class="cinzel"> We know we’re the best!</h1> 
                <h1 style="font-size: 5.5vh;" class="cinzel"> Do you?</h1> 
                <br><br><br>
                <a href="/about" class="mt-1 btn btn-lg btn-outline-light rounded-5" style="width: 200px; text-decoration: none; font-size: x-large; background-color: #6e6e6e9f;">Here’s why!</a>
            </div>
        </section>
        
        <!-- jaisalmer -->
        <section class="p-4 section section2 d-flex flex-column justify-content-around border-bottom" style="height: 100vh; width: 100%; position: relative; overflow: hidden;">
            <video autoplay muted loop id="background-video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                <source src="{% static 'jaisalmer.mp4' %}" type="video/mp4">
            </video>
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)); z-index: 0;"></div>
            <div style="position: relative; z-index: 1; text-align: center;">
                <h3 class="cinzel">The Golden City</h3>
                <h1 style="transform: translateY(-15px); font-size: 16vh; font-family:serif;">Jaisalmer</h1>
                <br>
                <div class="w-100 text-center">
                    <div class="my-5">
                        <a href="/package/Jaisalmer/" class="mt-1 btn btn-outline-light rounded-5" style="width: 200px; text-decoration: none;">Discover</a>
                    </div>
                </div>
            </div>
        </section>


        <section class="px-2 py-4 d-flex flex-column justify-content-center" style="height: 100vh;">
            <div class="p-2 h-100">
                <h2 class="ms-2 text-center">Packages</h2>
                <div class="row mt-3">
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="border-bottom: 1px dashed blue; height: 60vh; background-image: url('{% static 'rajasthan/Jaipur/Hawa Mahal.jpeg' %}'); background-size: cover;"></div>
                            <div class="card-content py-2 px-3 d-flex flex-column justify-content-around h-100" style="background-color: rgba(241, 99, 89, 0.3);">
                                <div>
                                    <h2>Jaipur</h2>
                                    <h5 class="cinzel">The Pink City</h5>
                                </div>
                                <div>
                                    <a href="/package/Jaipur" class="btn btn-outline-dark w-100 mb-2" style="font-weight: 500;">View Package</a>
                                    <a href="/packages" class="btn btn-outline-dark w-100" style="font-weight: 500;">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="border-bottom: 1px dashed blue; height: 60vh; background-image: url('{% static 'rajasthan/Udaipur/Lake Pichola(boat ride to Jag Mandir Island).jpg' %}'); background-size: cover;"></div>
                            <div class="card-content py-2 px-3 d-flex flex-column justify-content-around h-100" style="background-color: rgba(98, 120, 171, 0.3);">
                                <div>
                                    <h2>Udaipur</h2>
                                    <h5 class="cinzel">The City of Lakes</h5>
                                </div>
                                <div>
                                    <a href="/package/Udaipur" class="btn btn-outline-dark w-100 mb-2" style="font-weight: 500;">View Package</a>
                                    <a href="/packages" class="btn btn-outline-dark w-100" style="font-weight: 500;">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="background-position: right; border-bottom: 1px dashed blue; height: 60vh; background-image: url('{% static 'rajasthan/Jodhpur/Rao Jodha Statue.jpg' %}'); background-size: cover;"></div>
                            <div class="card-content py-2 px-3 d-flex flex-column justify-content-around h-100" style="background-color: #87cfeb59;">
                                <div>
                                    <h2>Jodhpur</h2>
                                    <h5 class="cinzel">The Blue City</h5>
                                </div>
                                <div>
                                    <a href="/package/Jodhpur" class="btn btn-outline-dark w-100 mb-2" style="font-weight: 500;">View Package</a>
                                    <a href="/packages" class="btn btn-outline-dark w-100" style="font-weight: 500;">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 animated-card" style="animation-delay: 0.1s;">
                        <div class="card ticket-card mx-2 my-3 p-0 rounded" style="height: 70vh;">
                            <div class="card-image m-0 p-0" style="border-bottom: 1px dashed blue; height: 60vh; background-image: url('{% static 'rajasthan/Jaisalmer/desert national park jaisalmer.avif' %}'); background-size: cover;"></div>
                            <div class="card-content py-2 px-3 d-flex flex-column justify-content-around h-100" style="background-color: rgba(254, 224, 52, 0.3)">
                                <div>
                                    <h2>Jaisalmer</h2>
                                    <h5 class="cinzel">The Golden City</h5>
                                </div>
                                <div>
                                    <a href="/package/Jaisalmer" class="btn btn-outline-dark w-100 mb-2" style="font-weight: 500;">View Package</a>
                                    <a href="/packages" class="btn btn-outline-dark w-100" style="font-weight: 500;">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

{% block additional_js %}
{% endblock %}
