<head>
    <title>Packages</title>
    <style>
        /* Modal custom styling */
        .modal-content {
            background: rgba(68, 67, 67, 0.9);
            border-radius: 15px;
            padding: 20px;
            color: white;
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
        }

        /* Make text inside modal black */
        .modal-body, .modal-header, .modal-body input, .modal-body select, .modal-footer {
            color: black;
        }

        /* Input fields styling */
        .modal-body input, .modal-body select {
            background: rgba(255, 255, 255, 0.8);
            color: black;
            border-radius: 5px;
            border: none;
            padding: 10px;
            width: 100%;
        }

        .modal-body input::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }

        /* Ensuring each section takes up full viewport height */
        .package-section {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            /* background-repeat: no-repeat;
            background-size: cover; */
        }

        .package-section::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); 
            z-index: 1;
        }

        .package-section > * {
            position: relative;
            z-index: 2;
        }
    </style>
</head>

{% extends 'base.html' %}

{% load static %}
{% block content %}
<div>
    {% for i in packages %}
        {% if forloop.counter == 5 %}
            <div class="row mx-0 border-bottom package-section" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url('{{i.image}}'); background-size: cover; background-repeat: no-repeat;">
            <!-- <div class="row mx-0 border-bottom package-section" style="background-image: url('{% static 'rajasthan/Jaisalmer/Gadisar Lake.jpeg' %}');"> -->
            <!-- <div class="row mx-0 border-bottom package-section" style="background-image: url('../static/rajasthan/Jaipur/City\ Palace.webp');"> -->
                <div class="col-md-7 mt-2">
                    <section class="px-2 rounded-2">
                        <div class="d-flex flex-column justify-content-center p-2 h-100">
                            <small>{{i.description}}</small>
                            <h1>{{i.name}}</h1>
                            <br>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, odit maiores officiis nisi quis perspiciatis atque veritatis magni eos doloribus id voluptate nobis vel ea, vero necessitatibus fugiat soluta quae.</p>
                            <br>
                            {% if login == "loggedin" %}
                                <p>Get your booking confirm for {{user.firstname}} {{user.lastname}}</p>
                            {% endif %}
                            <a href="/bookings" class="text-white">Check Booking Status</a>
                        </div>
                    </section>
                </div>
                <div class="col-md-5 mt-2">
                    <br>
                    <br>
                    <div class="card border-0 p-3" style="background-color: transparent; color: white;"></div>
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div>
                                <!-- <h5>Details:</h5> -->
                                <!-- <h4>Status</h4> -->
                            </div>
                            <div>
                                <!-- <a>check status</a> -->
                                <!-- <img width="60" height="60" src="https://img.icons8.com/dotty/ffffff/80/checked.png" alt="checked"/> -->
                            </div>
                        </div>
                        <!-- <p>We will get back to you soon!</p> -->
                        <div class="mt-2 border border-light rounded-2 p-3" style="min-height: 300px; background-color: #00000055;">
                            <h5 class="text-center">Details</h5>
                            <br>
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <h4 class="mt-2">Select Slot:</h4>
                                <div>
                                    <select class="form-select" style="width: 300px;">
                                        <option value="1" disabled title="Slot already booked">27/9/24 - 30/9/24</option>
                                        <option value="2" disabled title="Slot already booked">1/10/24 - 5/10/24</option>
                                        <option value="3">10/10/24 - 14/10/24</option>
                                        <option value="4">16/10/24 - 20/10/24</option>
                                    </select>                                
                                </div>
                            </div>
                            <br>
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <h4 class="mt-2">Tourists:</h4>
                                <div>
                                    <!-- + - waala lgana hai -->
                                    <select class="form-select" class="touristDropdown" style="width: 300px;">
                                        <option value="1">1</option>
                                        <option value="2" selected>2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>                                
                                </div>
                            </div>
                            <br>
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <h4>Price per tourist:</h4>
                                <h4>₹{{i.price}}</h4>
                            </div>
                            <div class="mt-2 ms-1">
                                <input type="checkbox" class="termscheck" onchange="showcheckbox(`{{i.name}}`)">
                                <small>I hereby agree to accept all <a href="/terms">Terms & Conditions</a></small>
                            </div>
                        </div>
                        <div class="mt-2 border border-light rounded-2 p-3" style="background-color: #00000055;">
                            <button type="button" class="btn btn-light w-100 my-2 {{i.name}}check" id="checkoutButton" data-bs-toggle="modal" data-bs-target="#checkoutModal" disabled>Checkout</button>
                            <button type="button" class="btn btn-light w-100 my-2">View Package</button>
                        </div>
                    </div>
                <br>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for i in packages|slice:":-1" %}
        <div class="row mx-0 border-bottom package-section" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url('{{i.image}}'); background-size: cover; background-repeat: no-repeat;">
        <!-- <div class="row mx-0 border-bottom package-section" style="background-image: url('{% static 'rajasthan/Jaisalmer/Gadisar Lake.jpeg' %}');"> -->
        <!-- <div class="row mx-0 border-bottom package-section" style="background-image: url('../static/rajasthan/Jaipur/City\ Palace.webp');"> -->
            <div class="col-md-7 mt-2">
                <section class="px-2 rounded-2">
                    <div class="d-flex flex-column justify-content-center p-2 h-100">
                        <small>{{i.description}}</small>
                        <h1>{{i.name}}</h1>
                        <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, odit maiores officiis nisi quis perspiciatis atque veritatis magni eos doloribus id voluptate nobis vel ea, vero necessitatibus fugiat soluta quae.</p>
                        <br>
                        {% if login == "loggedin" %}
                            <p>Get your booking confirm for {{user.firstname}} {{user.lastname}}</p>
                        {% endif %}
                        <a href="/bookings" class="text-white">Check Booking Status</a>
                    </div>
                </section>
            </div>
            <div class="col-md-5 mt-2">
                <br>
                <br>
                <div class="card border-0 p-3" style="background-color: transparent; color: white;"></div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div>
                            <!-- <h5>Details:</h5> -->
                            <!-- <h4>Status</h4> -->
                        </div>
                        <div>
                            <!-- <a>check status</a> -->
                            <!-- <img width="60" height="60" src="https://img.icons8.com/dotty/ffffff/80/checked.png" alt="checked"/> -->
                        </div>
                    </div>
                    <!-- <p>We will get back to you soon!</p> -->
                    <div class="mt-2 border border-light rounded-2 p-3" style="min-height: 300px; background-color: #00000055;">
                        <h5 class="text-center">Details</h5>
                        <br>
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <h4 class="mt-2">Select Slot:</h4>
                            <div>
                                <select class="form-select" style="width: 300px;">
                                    <option value="1" disabled title="Slot already booked">27/9/24 - 30/9/24</option>
                                    <option value="2" disabled title="Slot already booked">1/10/24 - 5/10/24</option>
                                    <option value="3">10/10/24 - 14/10/24</option>
                                    <option value="4">16/10/24 - 20/10/24</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <h4 class="mt-2">Tourists:</h4>
                            <div>
                                <!-- + - waala lgana hai -->
                                <select class="form-select" class="touristDropdown" style="width: 300px;">
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>                                
                            </div>
                        </div>
                        <br>
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <h4>Price per tourist:</h4>
                            <h4>₹{{i.price}}</h4>
                        </div>
                        <div class="mt-2 ms-1">
                            <input type="checkbox" class="termscheck" onchange="showcheckbox(`{{i.name}}`)">
                            <small>I hereby agree to accept all <a href="/terms">Terms & Conditions</a></small>
                        </div>
                    </div>
                    <div class="mt-2 border border-light rounded-2 p-3" style="background-color: #00000055;">
                        <button type="button" class="btn btn-light w-100 my-2 {{i.name}}check" id="checkoutButton" data-bs-toggle="modal" data-bs-target="#checkoutModal" disabled>Checkout</button>
                        <button type="button" class="btn btn-light w-100 my-2">View Package</button>
                    </div>
                </div>
            <br>
            </div>
        </div>
    {% endfor %}

    <!-- Modal Structure -->
    <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkoutModalLabel">Confirm Your Booking</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <form id="confirm-booking-form">
                        <div class="mb-3">
                            <label for="first-name" class="form-label">First Name</label>
                            <input type="text" id="first-name" name="first-name" class="form-control" placeholder="Enter your first name" required>
                        </div>

                        <div class="mb-3">
                            <label for="last-name" class="form-label">Last Name</label>
                            <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Enter your last name" required>
                        </div>

                        <div class="mb-3">
                            <label for="modal-checkin-date" class="form-label">Check-in Date</label>
                            <input type="date" id="modal-checkin-date" name="slot-start" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="modal-checkout-date" class="form-label">Check-out Date</label>
                            <input type="date" id="modal-checkout-date" name="slot-end" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="modal-total-amount" class="form-label">Total Amount</label>
                            <input type="text" id="modal-total-amount" name="total-amount" class="form-control" value="5000">
                        </div>

                        <button type="submit" class="btn btn-confirm">Confirm Booking</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
    function showcheckbox(name) {
        const checkbox = document.querySelector(`.${name}check`);
        if (checkbox) {
            checkbox.disabled = !checkbox.disabled; // Toggle the disabled state
        }
    }

    function updateGuestCount(change, pricePerGuest) {
        const guestCountInput = document.querySelector('.guest-count');
        let currentCount = parseInt(guestCountInput.value);
        currentCount += change;
        if (currentCount < 1) {
            currentCount = 1;
        }
        guestCountInput.value = currentCount;
        document.querySelector('.total-amount').textContent = pricePerGuest * currentCount;
    }

    function toggleCheckoutButton() {
        const termsCheck = document.getElementById('termsCheck');
        const checkoutButton = document.getElementById('checkoutButton');
        checkoutButton.disabled = !termsCheck.checked;

        // Toggle between not-allowed and pointer cursor
        if (termsCheck.checked) {
            checkoutButton.classList.add('enabled');
        } else {
            checkoutButton.classList.remove('enabled');
        }
    }
    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    // Update Modal Form with Slot and Amount from Main Form
    document.getElementById('checkoutButton').addEventListener('click', function() {
        const checkinDate = document.getElementById('checkin-date').value;
        const checkoutDate = document.getElementById('checkout-date').value;
        const totalAmount = document.getElementById('total-amount').textContent;

        document.getElementById('modal-checkin-date').value = checkinDate;
        document.getElementById('modal-checkout-date').value = checkoutDate;
        document.getElementById('modal-total-amount').value = totalAmount;
    });

    document.getElementById('confirm-booking-form').addEventListener('submit', function(event) {
        event.preventDefault();
        console.log("Booking form submitted");

        const bookingData = {
            first_name: document.getElementById('first-name').value,
            last_name: document.getElementById('last-name').value,
            slot_start: document.getElementById('modal-checkin-date').value,
            slot_end: document.getElementById('modal-checkout-date').value,
            total_amount: document.getElementById('modal-total-amount').value,
        };

        console.log("Booking data:", bookingData);

        fetch('/booking/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(),
            },
            body: JSON.stringify(bookingData),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`Network response was not ok. Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log("Server response:", data);
            if (data.status === 'success') {
                window.location.href = '/bookings/?success=true';
            } else {
                console.error('Booking failed:', data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}
