<footer class="px-5 pt-2 border-top text-white m-0" style="background-color: #141414;"> 
  <br>
  <div class="row">
    <div class="col-6 col-md-2 mb-3">
      <h5>Explore</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0" style="color: #a1b1b1;">Home</a></li>
        <li class="nav-item mb-2"><a href="/packages" class="nav-link p-0" style="color: #a1b1b1;">Packages</a></li>
        <li class="nav-item mb-2"><a href="/about" class="nav-link p-0" style="color: #a1b1b1;">About Us</a></li>
        <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0" style="color: #a1b1b1;">Blogs</a></li>
        <li class="nav-item mb-2"><a href="/policies" class="nav-link p-0" style="color: #a1b1b1;">Privacy Policy</a></li>
        <li class="nav-item mb-2"><a href="/terms" class="nav-link p-0" style="color: #a1b1b1;">Terms & Conditions</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Popular Packages</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/package/Jaipur/" class="nav-link p-0" style="color: #a1b1b1;">Jaipur</a></li>
        <li class="nav-item mb-2"><a href="/package/Udaipur/" class="nav-link p-0" style="color: #a1b1b1;">Udaipur</a></li>
        <li class="nav-item mb-2"><a href="/package/Jodhpur/" class="nav-link p-0" style="color: #a1b1b1;">Jodhpur</a></li>
        <li class="nav-item mb-2"><a href="/package/Jaisalmer/" class="nav-link p-0" style="color: #a1b1b1;">Jaisalmer</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Contact us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0" style="color: #a1b1b1;">+91 9876543210</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0" style="color: #a1b1b1;">@TakeMeFar</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0" style="color: #a1b1b1;">info@takemefar.com</a></li>
      </ul>
    </div>

    <div class="col-md-5 offset-md-1 mb-3">
      <form>
        <h5>Get in Touch Now</h5>
        <p style="color: #a1b1b1;">Don't miss any updates on what's new and exciting from us.</p>
        <div class="w-100">
          <ul class="list-unstyled d-flex">
            <li><a class="link-body-emphasis text-white" href="/"><img width="30" height="30" src="https://img.icons8.com/ios/ffffff/30/instagram-new--v1.png" alt="instagram-new--v1"/></a></li>
            <li class="ms-3"><a class="link-body-emphasis text-white" href="/"><img width="30" height="30" src="https://img.icons8.com/ios/ffffff/30/whatsapp--v1.png" alt="whatsapp-new--v1"/></a></li>
            <li class="ms-3"><a class="link-body-emphasis text-white" href="/"><img width="30" height="30" src="https://img.icons8.com/ios/ffffff/50/gmail-new.png" alt="mail-new--v1"/></a></li>
            <li class="ms-3"><a class="link-body-emphasis text-white" href="/"><img width="30" height="30" src="https://img.icons8.com/wired/ffffff/30/ringer-volume.png" alt="call-new--v1"/></a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>

  <div class="text-center py-4 my-4 border-top text-white"> <!-- text-white for footer text -->
    <!-- <span>Developed and Designed by @<a href="/" style="color: #9393fa; text-decoration: none;"><b>mitrr</b></a></span> -->
    <span>
      ©2024 TakeMeFar.
    </span>
  </div>
</footer>


  



