<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        /* overflow: hidden; */
    }

    .navbar {
        transition: background-color 0.3s, border 0.3s;
    }

    .navbar-dark {
        background-color: #191919 !important;
        color: white !important;
        border-bottom: 1px solid #ffffff !important;
    } 

    #dropdownMenu{
        border-radius: 0;
        background-color: #191919;
        transform: translateY(10px);
    }

    #dropdownMenu .dropdown-item {
        color: white !important;
    }

    #dropdownMenu .dropdown-item:hover {
        color: black !important;
        background-color: #ababab;
        transition: 0.5s ease;
    }

    .menu-icon {
        position: relative;
        cursor: pointer;
        transform: translateY(-20px);
    }

    .menu-icon .icon {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .menu-icon .close {
        opacity: 0;
        transform: scale(0.8);
    }

    .menu-icon.active .menu {
        opacity: 0;
        transform: scale(0.8);
    }

    .menu-icon.active .close {
        opacity: 1;
        transform: scale(1);
    }

    .dropdown-menu {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .dropdown-menu.show {
        opacity: 1;
        transform: translateY(0);
    }

    .dropdown-menu.hide {
        opacity: 0;
        transform: translateY(-20px);
    }
</style>
<nav class="navbar navbar-lightt w-100" style="background-color: #00000041; position: fixed; top: 0; z-index: 1000;">
    <div class="container-fluid">
        <div class="dropdown">
            <span class="navbar-brand dropdown" id="menuDropdown" role="button" aria-expanded="false" style="background-image: none;">
                <div id="menuIcon" class="menu-icon">
                    <img width="40" height="40" src="https://img.icons8.com/sf-black/ffffff/40/menu.png" alt="menu" class="icon menu"/>
                    <img width="40" height="40" src="https://img.icons8.com/ios/40/ffffff/multiply.png" alt="close" class="icon close"/>
                </div>
            </span>
            <ul id="dropdownMenu" class="dropdown-menu mt-4 ms-2 p-0 hide" aria-labelledby="menuDropdown">
                <li><a class="dropdown-item px-4 py-2" href="/">Home Page</a></li>
                {% if login == 'loggedin' %}
                    <li><a class="dropdown-item px-4 py-2" href="/bookings">Booking History</a></li>
                {% endif %}
                <li><a class="dropdown-item px-4 py-2" href="/packages">View Packages</a></li>
                <li><a class="dropdown-item px-4 py-2" href="/about">About Us</a></li>
            </ul>
        </div>
        <a class="navbar-brand mx-auto text-white" href="/">
            <h3>TakeMeFar</h3>
        </a>
        <div>
            {% if login == 'loggedin' %}
                <a class="nav-link" href="/logout">Logout</a>
            {% else %}
                <a class="nav-link" href="/login">
                    Login
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuIcon = document.getElementById('menuIcon');
        const dropdownMenu = document.getElementById('dropdownMenu');
        const navbar = document.querySelector('.navbar');

        menuIcon.addEventListener('click', function() {
            menuIcon.classList.toggle('active');
            dropdownMenu.classList.toggle('show');
            dropdownMenu.classList.toggle('hide');
        });

        document.addEventListener('scroll', function() {
            if (window.scrollY > 50) {
                navbar.classList.add('navbar-dark');
            } else {
                navbar.classList.remove('navbar-dark');
            }
        });
    });
</script>
